.tools{
    float: right;
    padding-right:1rem;
    height: 100%;
    width: 50%;
    margin-top: 1.2rem;
}
.select {
    font-size: 1rem;
    color: rgba(255, 0, 0, 0.637);
    text-align: right;
    margin-top: 2rem;
    display: inline-block;
    width: 50%;
}

.delete{
    float: right;
    display: inline-block;
}
.edit{
    float: right;
    display: inline-block;
}